
body {
    font-family: sans-serif;
    margin: 0;
    padding: 15px;
    max-width: 85%;
    margin: auto;
}
input, select {
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #b5b3b3;
    width: 80%;
}
div#display {
    background: #009688;
    color: #ffffff;
    font-size: 19px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 5px;
}
h1.header {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
table {
    width: 100%;
    text-align: center;
}
input#button {
    background: #8BC34A;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
legend {
    text-align: center;
    background: #d9edf7;
    border: 1px solid #31708f;
    font-size: 25px;
    padding: 7px 20px;
    border-radius: 30px;
    color: #31708f;
}
th {
    color: #31708f;
    background: #d9edf7;
    padding: 12px;
}
fieldset {
    border: 2px solid #31709c;
    border-radius: 6px;
}